[submodule "rocm_torch_extension/mdspan"]
	path = rocm_torch_extension/mdspan
	url = https://github.com/kokkos/mdspan.git
[submodule "third-party/torchtune"]
	path = third-party/torchtune
	url = https://github.com/pytorch/torchtune.git
[submodule "third-party/peft"]
	path = third-party/peft
	url = https://github.com/huggingface/peft.git
[submodule "third-party/bitsandbytes"]
	path = third-party/bitsandbytes
	url = https://github.com/bitsandbytes-foundation/bitsandbytes.git
	branch = multi-backend-refactor
